@model AprenderHolandes.Models.MateriaCursada
@inject UserManager<Persona> usermanager

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Materia Cursada</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.Raw("Año")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cuatrimestre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cuatrimestre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Materia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Materia.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profesor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profesor.Apellido)
        </dd>
    </dl>
</div>
<div>
    <h4>Alumnos</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.Raw("Nombre")
                </th>
                <th>
                    @Html.Raw("Apellido")
                </th>
                <th>
                    @Html.Raw("Correo Electrónico")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AlumnoMateriaCursadas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Alumno.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Alumno.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Alumno.Email)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (User.IsInRole("Alumno"))
{
    <div>
        <a asp-controller="Alumnos" asp-action="MisMaterias">Mis Materias</a>
    </div>
}

