@model IEnumerable<AprenderHolandes.Models.MateriaCursada>

@{
    ViewData["Title"] = "ListaMateriaCursadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Evaluaciones por grupo</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Raw("Grupo")
            </th>
            <th>
                @Html.Raw("Evaluación")
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @foreach (var mce in item.MateriaCursadaEvaluaciones.OrderBy(mce => mce.Evaluacion.Titulo))
                {

                    <div>@mce.Evaluacion.Titulo</div>

                }
            </td>
            <td>
                @foreach (var mce in item.MateriaCursadaEvaluaciones)
                {

                    if (!mce.Activo)
                    {
                        <div><a asp-action="ActivarMateriaCursadaEvaluacion" asp-route-id="@mce.Id">activar</a></div>
                        
                    }
                    else
                    {
                        <div><a asp-action="DesActivarMateriaCursadaEvaluacion" asp-route-id="@mce.Id">desactivar</a>  </div>
                    }

                }
            <td>
                <a asp-action="ListaEvaluacionesPorMateriaCursada" asp-route-id="@item.MateriaCursadaId">Asignar Evaluaciones</a>
            </td>
        </tr>
}
    </tbody>
</table>
