@model IEnumerable<AprenderHolandes.Models.MateriaCursada>

@{
    ViewData["Title"] = "ListaMateriaCursadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Calificar: evaluaciones por grupo</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Raw("Grupo")
            </th>
            <th>
                @Html.Raw("Evaluación")
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @foreach (var mce in item.MateriaCursadaEvaluaciones.OrderBy(mce => mce.Evaluacion.Titulo))
                    {

                        <div>@mce.Evaluacion.Titulo</div>

                    }
                </td>
                <td>
                    @foreach (var mce in item.MateriaCursadaEvaluaciones)
                    { 

                            <div><a asp-action="ListaAlumnosPorMateriaCursada" asp-route-id="@mce.Id">Calificar</a></div>
                    
                            
                    }
               
            </tr>
        }
    </tbody>
</table>
