@model IEnumerable<AprenderHolandes.ViewModels.AlumnoNota>


@{
    ViewData["Title"] = "ListaAlumnosPorMateriaCursada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Titulo"]</h1>
<div class="bg-warning">@TempData["Mensaje"]</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Raw("Nombre")
            </th>
            <th>
                @Html.Raw("Apellido")
            </th>
            <th>
                
            </th>
            <th>@Html.DisplayNameFor(model => model.Nota)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AlumnoMateriaCursada.Alumno.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlumnoMateriaCursada.Alumno.Apellido)
                </td>
                <td>
                   
                </td>
                <td>
                    @if (item.Nota == null)
                    {
                    <form method="post" asp-action="Create">
                        <input hidden type="text" id="idAlumno" name="AlumnoId" value="@item.AlumnoMateriaCursada.Alumno.Id" />
                        <input type="text" id="txtNota" name="Nota" />
                        <input hidden type ="text" id="idMateriaCursadaEvaluacion" name="MateriaCursadaEvaluacionId" value="@item.MateriaCursadaEvaluacion.Id" />
                        <input type="submit" value="calificar" />
                    </form>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Nota)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
