@model AprenderHolandes.Models.Materia

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Materia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoMateria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoMateria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CupoMaximo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CupoMaximo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carrera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carrera.Nombre)
        </dd>
    </dl>
</div>

    @if (User.IsInRole("Empleado"))
    {<div>

    <a asp-action="Edit" asp-route-id="@Model.MateriaId">Editar</a> |
    <a asp-action="Index">Volver a Materias</a>

</div>
}




