@model IEnumerable<AprenderHolandes.Models.Materia>

@{
    ViewData["Title"] = "MostrarMateriasSegunCarrera";
}

<h1>Materias</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoMateria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoMateria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>            
        </tr>
}
    </tbody>
</table>
