@model IEnumerable<AprenderHolandes.ViewModels.MateriaCursadaConNotaPromedio>



@{
    ViewData["Title"] = "ListarMateriasCursadas";
}

<h1>Mis Materias Cursadas de @ViewData["NombreMateria"]</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.Raw("Nota Promedio")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @if (Double.IsNaN(item.NotaPromedio))
                    {
                        @Html.Raw("Sin Calificaciónes")
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.NotaPromedio)
                    }


                </td>

                <td>
                    <a class="btn btn-outline-secondary" asp-controller="MateriaCursadas" asp-action="Details" asp-route-id="@item.materiaCursadaId">Detalles</a>
                    <a class="btn btn-outline-secondary" asp-controller="Profesores" asp-action="MostrarAlumnosPorMateriaCursada" asp-route-id="@item.materiaCursadaId">Mostrar alumnos</a>
                </td>
            </tr>
        }
    </tbody>
</table>
