@inject SignInManager<Persona> SignInManager
@model IEnumerable<AprenderHolandes.Models.Clase>

@{
    ViewData["Title"] = "Index";
}

<h1>Mis Clases</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.Raw("Grupo")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesor)
            </th>
            <th>
              
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MateriaCursada.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profesor.Nombre)
            </td>
            <td>
                <a href="@item.Link">Empezar la clase </a>
            </td>
            @if (User.IsInRole("Profesor"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                </td>

            }

        </tr>
}
    </tbody>
</table>
