@model IEnumerable<AprenderHolandes.Models.Materia>

<div class="bg-warning">@TempData["Message"]</div>
            

<h1>Registrar Materias</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoMateria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrera)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoMateria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.Carrera.Nombre)
                </td>
                <td>
                    <div>
                        <a class="btn btn-outline-secondary" asp-controller="Alumnos" asp-action="agregarMateriaMostrar" asp-route-id="@item.MateriaId">Inscribirse</a>
                        
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
